.about-me-main {
  border: solid;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me {
  border: solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}
