body {
  background-color: rgb(257, 257, 257);
}

.main {
  border: 1px solid;
  border-color: black;
  border-radius: 12px;
  box-shadow: 0px 0px 1px 1px black;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-right: 5vw;
  margin-left: 5vw;
  background-color: white;
}

.main h1 {
  font-weight: normal;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  /* border: solid;
  border-color: black; */
  width: 80vw;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  /* border: solid;
  border-color: red; */
  display: flex;
  justify-content: center;
  width: 80vw;
  margin-bottom: 10px;
}

.keySkills {
  width: 65vw;
}

.skills {
  /* border: 1px solid;
  border-color: black;
  border-radius: 12px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 12px;
  padding-top: 0;
}

.portfolio {
  width: 80vw;
  display: grid;

  justify-items: center;
  align-items: center;
}

@media (min-width: 480px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .portfolio {
    grid-template-columns: repeat(4, 1fr);
  }
}

.portfolio img {
  height: 50px;
  width: 50px;
}

.grid-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid;
  border-color: gray;
  border-radius: 10px; */
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 10px 0px lightblue;
}

.grid * {
  padding: 5px;
}

.aboutMe {
  /* border: 1px solid;
  border-color: black;
  border-radius: 12px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.aboutMe h1 {
  margin-bottom: 0;
}
