.main {
  display: flex;
  justify-content: center;
}
.main h1 {
  font-weight: normal;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: white;
  border-radius: 12px;
  box-shadow: 1px 1px 12px 0px #8c8c0c;
  margin-bottom: 10px;
  padding-bottom: 10px;
  max-width: 60vw;
}

.title {
  /* border: solid;
  border-color: black; */
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-home {
  /* border: 1px solid;
  border-color: black;
  border-radius: 12px; */
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 50vw;
}
.about-home h1 {
  margin-bottom: 0;
}
.about-home p {
  font-size: 20px;
}
.socials-img {
  display: flex;
  justify-content: center;
}

.socials-img img {
  margin: 10px;
  margin-top: 0;
  width: 8.5%;
}

.socials-img img:hover {
  cursor: pointer;
}
