.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 24px;
  border: solid;
  border-radius: 4px;
  border-color: grey;
  margin-bottom: 12px;
  box-sizing: border-box;
}
.nav-list {
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-list li {
  padding: 4px;
  margin-right: 20px;
  border: 1px solid transparent;
  border-bottom: 1px solid;
  box-sizing: border-box;
}
.nav-list li:hover {
  border: 1px solid;
  border-radius: 4px;
}

.nav-list a {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav {
    justify-content: center;
    padding: 0;
    padding: 0px;
  }
}
