.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  box-sizing: border-box;
}
.nav-list {
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-list .buttons {
  padding: 12px;
  margin-right: 12px;
  border: 1px solid transparent;
  border-bottom: 1px solid;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}
.nav-list .buttons:hover {
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  color: black;
  border-color: black;
  background-color: white;
}

@media (max-width: 768px) {
  .nav {
    justify-content: center;
    padding: 0;
  }
}
