.main-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.grid-project {
  width: 80vw;
  border: 1px solid;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.grid-box-project {
  text-align: center;
  border: 1px solid;
  max-width: 60vw;
  min-height: 10vh;
  margin: 12px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 12px;
  overflow: hidden;
}

.grid-box-project h2 {
  font-weight: normal;
}

.grid-box-project:hover {
  cursor: pointer;
}
