.title-projects-section {
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.grid-project {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.grid-box-project {
  text-align: center;
  border: 1px solid;
  min-width: 20vw;
  min-height: 10vw;
  margin: 5%;
  padding: 12px;
  overflow: hidden;
}

.grid-box-project h2 {
  font-weight: normal;
}

.grid-box-project:hover {
  cursor: pointer;
}
