.main-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  width: 80vw;
  border: 1px solid grey;
}
.title-projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
}

.grid-project {
  width: 80vw;
  /* border: 1px solid;
  border-radius: 12px; */
  display: grid;
  justify-items: center;
  align-items: center;
}
@media (min-width: 480px) {
  .grid-project {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .grid-project {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid-box-project {
  position: relative; /* Ensure the child elements are positioned relative to this div */

  text-align: center;
  border: 1px solid;
  min-width: 80%;

  min-height: 5vh;
  margin: 12px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 12px;
}

.grid-box-project h2 {
  font-weight: normal;
}

.grid-box-project:hover {
  cursor: pointer;
}

.image-project {
  margin: 12px;
  width: 300px;
}

.image-project:hover {
  scale: 1.75;
  transition: 0.4s;
}
